/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/veh_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.footer {
    background-color: #2f2f2fda;
    color: #fff;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: -200;
    width:100%;
}
.div1{
    align-items: center; display: table; overflow-x: hidden;overflow-y: scroll;
}
.div2{
    overflow-x: hidden;
    position:absolute;
    top:89px;
    left: 0;
    width: 100%;
    bottom: 0px;
    backdrop-filter: blur(8px) brightness(0.2);
}
.vehh1{
    color: white;font-family: 'Courier New', Courier, monospace;
}
.vehtext{
    text-align: center;color: white;font-size: 1.3em; font-family: 'Courier New', Courier, monospace;
}
.bike{
    margin-left: 1.5%;
    width: 35%;
    z-index: 0;
}
.bikemove{
    width:35%;
    animation: bikemoves 3s;
    position: relative;
    animation-fill-mode: forwards;
    z-index: 0;
}
@keyframes bikemoves {
    from {left: 1.5%;}
    to {left: 55%;}
}
.bike:hover{
    opacity:0.8
}
.bikespan{
    display:none;
    overflow: hidden;
}
.bikespanmv{
    overflow-x: hidden;
    text-align: center;
    width:45%;
    animation: bikespanmoves 3s;
    position: absolute;
    animation-fill-mode: forwards;
    z-index: 1;
}
@keyframes bikespanmoves {
    from {left: -48.5%;}
    to {left: 5%;}
}
.car{
    width:44%;
    margin-left:50%;
    z-index:0;
}
.carmove{
    margin-left:55%;
    width: 44%;
    animation: carmoves 3s;
    position: relative;
    animation-fill-mode: forwards;
    z-index: 0;
}
@keyframes carmoves {
    from {right: 0%;}
    to {right: 50%;}
}
.car:hover{
    opacity:0.8
}
.carspan{
    display:none;
    overflow-x: hidden;
}
.carspanmv{
    right: -45%;

    text-align: center;
    width:43%;
    animation: carspanmoves 3s;
    position: absolute;
    animation-fill-mode: forwards;


    z-index: 1;
}
@keyframes carspanmoves {
    from {right: -45%;}
    to {right: 5%;}
}
a {
    text-decoration: none;
}
.bookbtn{
    text-decoration: none;
    background-color:black;
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;font-size: 1.1em;
    border: white solid 1px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
nav{background-color: #000000}
  nav a{
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
    color: #c9c3c3;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
    font-family: 'Baloo Bhai', cursive;

  }
  nav a:hover{
    color: #0ef;
  }
  nav a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
  }
  nav a:hover span{
    transform: scale(1) translateY(0);
    opacity:1;
  }

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top:0px;
    z-index: 100;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
